# Supervised Learning Model Evaluation Lab

Complete the exercises below to solidify your knowledge and understanding of supervised learning model evaluation.

In [1]:
import pandas as pd
import seaborn as sns
# El mantra de las visualizaciones
from matplotlib import pyplot as plt
%matplotlib inline
%config Inlinebackend.figure_format = 'retina'

import seaborn as sns
sns.set_context('poster')
sns.set(rc={'figure.figsize': (16., 9.)})
sns.set_style('whitegrid')
from sklearn.model_selection import train_test_split as tts
from sklearn.linear_model import LinearRegression as LinReg
from sklearn import metrics
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, fbeta_score, confusion_matrix, balanced_accuracy_score

## Regression Model Evaluation

In [2]:
from sklearn.datasets import load_boston

data = load_boston()

X = pd.DataFrame(data["data"], columns=data["feature_names"])
y = pd.DataFrame(data["target"], columns=['MEDV'])

data = pd.concat([X, y], axis=1)

/opt/homebrew/Caskroom/miniconda/base/lib/python3.8/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function load_boston is deprecated; `load_boston` is deprecated in 1.0 and will be removed in 1.2.

    The Boston housing prices dataset has an ethical problem. You can refer to
    the documentation of this function for further details.

    The scikit-learn maintainers therefore strongly discourage the use of this
    dataset unless the purpose of the code is to study and educate about
    ethical issues in data science and machine learning.

    In this special case, you can fetch the dataset from the original
    source::

        import pandas as pd
        import numpy as np


        data_url = "http://lib.stat.cmu.edu/datasets/boston"
        raw_df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)
        data = np.hstack([raw_df.values[::2, :], raw_df.values[1::2, :2]])
        target = raw_df.values[1::2, 2]

    Alternative datasets include the California housing dataset (i.e.
    :func:`~sklearn.datasets.fetch_california_housing`) and the Ames housing
    dataset. You can load the datasets as follows::

        from sklearn.datasets import fetch_california_housing
        housing = fetch_california_housing()

    for the California housing dataset and::

        from sklearn.datasets import fetch_openml
        housing = fetch_openml(name="house_prices", as_frame=True)

    for the Ames housing dataset.

  warnings.warn(msg, category=FutureWarning)

In [3]:
data.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

## 1. Split this data set into training (80%) and testing (20%) sets.

The `MEDV` field represents the median value of owner-occupied homes (in $1000's) and is the target variable that we will want to predict.

In [4]:
X_train, X_test, y_train, y_test = tts(X,y, test_size=0.2)

## 2. Train a `LinearRegression` model on this data set and generate predictions on both the training and the testing set.

In [5]:
linreg=LinReg()

In [6]:
linreg.fit(X_train, y_train)

LinearRegression()

In [7]:
y_pred_train = linreg.predict(X_train)

In [8]:
y_pred_test = linreg.predict(X_test)

## 3. Calculate and print R-squared for both the training and the testing set.

In [9]:
print('R2 - Coeficiente de Determinacion de testing set', metrics.r2_score(y_test, y_pred_test))
print('R2 - Coeficiente de Determinacion de training set', metrics.r2_score(y_train, y_pred_train))

R2 - Coeficiente de Determinacion de testing set 0.7286264199485775
R2 - Coeficiente de Determinacion de training set 0.7415647967833392

## 4. Calculate and print mean squared error for both the training and the testing set.

In [10]:
print('MSE - Error Cuadratico Medio de testing set', metrics.mean_squared_error(y_test, y_pred_test))
print('MSE - Error Cuadratico Medio de training set', metrics.mean_squared_error(y_train, y_pred_train))

MSE - Error Cuadratico Medio de testing set 23.95417016886969
MSE - Error Cuadratico Medio de training set 21.50386901380357

## 5. Calculate and print mean absolute error for both the training and the testing set.

In [11]:
print('MAE - Error Medio Absoluto de testing set', metrics.mean_absolute_error(y_test, y_pred_test))
print('MAR - Error Medio Absoluto de training set', metrics.mean_absolute_error(y_train, y_pred_train))

MAE - Error Medio Absoluto de testing set 3.449152893712162
MAR - Error Medio Absoluto de training set 3.274440950898511

## Classification Model Evaluation

In [12]:
from sklearn.datasets import load_iris

data = load_iris()

X = pd.DataFrame(data["data"], columns=data["feature_names"])
y = pd.DataFrame(data['target'], columns=['class'])

data = pd.concat([X, y], axis=1)

In [13]:
data.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [14]:
data['class'].value_counts()

0    50
1    50
2    50
Name: class, dtype: int64

In [15]:
y.shape

(150, 1)

In [16]:
y = pd.Series(y['class'])

## 6. Split this data set into training (80%) and testing (20%) sets.

The `class` field represents the type of flower and is the target variable that we will want to predict.

In [17]:
X_train, X_test, y_train, y_test = tts(X,y, test_size=0.2)

## 7. Train a `LogisticRegression` model on this data set and generate predictions on both the training and the testing set.

In [18]:
log = LogisticRegression()

In [19]:
log.fit(X,y)

/opt/homebrew/Caskroom/miniconda/base/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [20]:
log.fit(X_train,y_train)

LogisticRegression()

In [21]:
y_pred_test = log.predict(X_test)

In [22]:
y_pred_train = log.predict(X_train)

## 8. Calculate and print the accuracy score for both the training and the testing set.

In [23]:
print("Accuracy: ", accuracy_score(y_test,y_pred_test))

Accuracy:  1.0

In [24]:
print('Accuracy: ', accuracy_score(y_train, y_pred_train))

Accuracy:  0.9833333333333333

## 9. Calculate and print the balanced accuracy score for both the training and the testing set.

In [25]:
print("Balanced Accuracy: ", balanced_accuracy_score(y_test,y_pred_test))

Balanced Accuracy:  1.0

In [26]:
print('Balanced Accuracy: ', balanced_accuracy_score(y_train,y_pred_train))

Balanced Accuracy:  0.982905982905983

## 10. Calculate and print the precision score for both the training and the testing set.

In [27]:
print("Precision training set: ", precision_score(y_test,y_pred_test,average='micro'))

Precision training set:  1.0

In [28]:
print('Precision testing set: ', precision_score(y_train,y_pred_train,average='micro'))

Precision testing set:  0.9833333333333333

## 11. Calculate and print the recall score for both the training and the testing set.

In [29]:
print("Recall testing set: ", recall_score(y_test,y_pred_test,average='micro'))

Recall testing set:  1.0

In [30]:
print("Recall training set: ", recall_score(y_train,y_pred_train,average='micro'))

Recall training set:  0.9833333333333333

## 12. Calculate and print the F1 score for both the training and the testing set.

In [31]:
print("F1 testing set: ", f1_score(y_test, y_pred_test,average='micro'))

F1 testing set:  1.0

In [32]:
print('F1 training set: ', f1_score(y_train, y_pred_train, average='micro'))

F1 training set:  0.9833333333333333

## 13. Generate confusion matrices for both the training and the testing set.

In [33]:
pd.crosstab(
    y_test,
    y_pred_test
)

col_0  0   1   2
class
0      6   0   0
1      0  11   0
2      0   0  13

In [34]:
pd.crosstab(y_train, y_pred_train)

col_0   0   1   2
class
0      44   0   0
1       0  37   2
2       0   0  37

## Bonus: For each of the data sets in this lab, try training with some of the other models you have learned about, recalculate the evaluation metrics, and compare to determine which models perform best on each data set.

In [35]:
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC

In [36]:
models={
    'dis': LinearDiscriminantAnalysis(),
    'neighbors': KNeighborsClassifier(),
    'naive': GaussianNB(),
    'tree': DecisionTreeClassifier(),
    'svm': SVC(),
}

In [37]:
for name, model in models.items():
    print("entrenando ", name)
    model.fit(X_train,y_train)

entrenando  dis
entrenando  neighbors
entrenando  naive
entrenando  tree
entrenando  svm

In [38]:
for name, model in models.items():
    y_pred = model.predict(X_test)
    print(f"--------{name}--------")
    print("Accuracy: ", accuracy_score(y_test,y_pred))
    print("Precision: ", precision_score(y_test,y_pred,average='micro'))
    print("Recall: ", recall_score(y_test,y_pred,average='micro'))
    print("F1: ", f1_score(y_test, y_pred,average='micro'))

--------dis--------
Accuracy:  1.0
Precision:  1.0
Recall:  1.0
F1:  1.0
--------neighbors--------
Accuracy:  1.0
Precision:  1.0
Recall:  1.0
F1:  1.0
--------naive--------
Accuracy:  1.0
Precision:  1.0
Recall:  1.0
F1:  1.0
--------tree--------
Accuracy:  1.0
Precision:  1.0
Recall:  1.0
F1:  1.0
--------svm--------
Accuracy:  0.9666666666666667
Precision:  0.9666666666666667
Recall:  0.9666666666666667
F1:  0.9666666666666667